<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>Add your Product</h2>
<form action="#" th:action="@{/}" th:object="${voter}" method="post">
<table>
<tr>
<td>Name </td>
<td> <input type="text" th:field="*{name}"><br></td>
<!--  handle the error which are in bean -->
<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
</tr>
<tr>
<td>Age </td>
<td> <input type="text" th:field="*{age}"><br></td>
<!--  handle the error which are in bean -->
<td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
</tr>
<tr>
<td><button type="submit"> Submit</button></td>
</tr>
</table>
</form>
</body>
</html>